<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.comp90018.H1Calendar">
    <!-- taking phone -->
    <uses-feature
        android:name="android.hardware.camera"
        android:required="true" />
    <uses-feature
        android:name="android.hardware.sensor.light"
        android:required="true"/>
    <uses-feature
        android:name="android.hardware.sensor.accelerometer"
        android:required="true"/>


    <uses-permission android:name="android.permission.CAMERA" /> <!-- read and write -->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.PERMISSIONS_STORAGE" />

    <application
        android:name=".CalApplication"

        android:usesCleartextTraffic="true"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".EventDetailActivity"></activity>
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />

            </intent-filter>
        </activity>
        <activity android:name=".AddFormScheduleActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name=".AddQRCodeScheduleActivity" />
        <activity android:name=".EventSettingActivity.EventColorSet" />
        <activity android:name=".EventSettingActivity.EventLocalSet"/>
        <activity android:name=".EventSettingActivity.EventQRShare"/>
        <activity android:name=".AddGPSLocationActivity"/>
        <activity
            android:name="com.journeyapps.barcodescanner.CaptureActivity"
            android:screenOrientation="portrait"
            tools:replace="screenOrientation" />
        <service android:name=".Alarm.AlarmService"/>
        <receiver android:name=".Alarm.StartAlarmReceiver"/>
        <receiver android:name=".Alarm.AlarmReceiver"/>

        <!--background service: WiFiAutoSync-->
        <service android:enabled="true" android:name=".WiFiAutoSync" android:process="system"></service>

    </application>
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE"/>
    <!--network state-->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <!--taking phone-->
    <uses-feature android:name="android.hardware.camera"
        android:required="true" />
    <uses-permission android:name="android.permission.CAMERA" />
    <!--read and write-->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.PERMISSIONS_STORAGE"/>
    <!--allow location access    -->
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.INTERNET"/>
    <!--Notification-->
    <uses-permission android:name="android.permission.VIBRATE"/>
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />


</manifest>